* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dddddd;
}

header {
    text-align: center;
}

header h1 {
    margin: 40px
}

.regras {
    margin: 20px 0 50px;
}

.regras img,
.logBatalha img {
    width: 34px;
    vertical-align: middle;
}

.pontuacao {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.pontosUser,
.pontosJarvas {
    width: 150px;
    height: 130px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 4px 9px #171a1f;
    font-weight: bold;
    padding: 16px;
    gap: 9px;
}

.pontosUser img,
.pontosJarvas img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 6px;
}

.pontosUser img {
    background-color: #1dd75b;
}

.pontosJarvas img {
    background-color: #f22128;
}

.numeroPontos {
    font-size: 2rem;
}

.logBatalha {
    margin-bottom: 50px;
    background-color: #f0f8fe;
    border-radius: 6px;
    box-shadow: 0px 4px 9px #171a1f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.controles {
    text-align: center;
}

.controles button {
    width: 98px;
    height: 64px;
    padding: 0 14px;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
    background: #1091f4;
    border-radius: 6px;
    box-shadow: 0px 4px 9px #171a1f;
}

.controles button:hover {
    color: #171a1f;
    background: #dee1e6;
}

.controles button:active {
    color: #171a1f;
    background: #a9aaae;
}

.controles button:disabled {
    display: none;
}

.miniResultado {
    font-weight: bold;
    margin-top: 13px;
    height: 34px;
}

.resultadoFinal {
    font-size: 1.8rem;
    font-weight: bold;
}

.restart {
    background-color: #1091f4;
    color: #ffffff;
    padding: 10px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    margin: 20px auto 0;
    box-shadow: 0px 4px 9px #171a1f;
}

.restart:hover {
    color: #171a1f;
    background: #dee1e6;
}

.restart:active {
    color: #171a1f;
    background: #a9aaae;
}